{{ define "main" }}
<div class="max-w-screen-xl min-h-screen lg:px-4 pt-40 lg:mx-auto">
  <div class="mb-8 sm:mb-0">
    <div class="flex flex-row justify-center col-span-6 lg:px-4 text-center sm:mb-6 lg:text-left lg:mb-0">
      <div class="max-w-fit bg-black p-5 lg:rounded-lg bg-opacity-50">
        <h1 class="mb-2 text-4xl text-center font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl xl:text-6xl dark:text-white">
          {{ .Site.Title }}
        </h1>
        <h2 class="pb-2 text-3xl text-center font-light text-gray-800 dark:text-gray-300 md:text-4xl">
          {{ .Site.Params.Moto }}
        </h2>
        <p class="max-w-xl mx-auto mb-6 text-center font-normal text-gray-900 lg:mx-0 xl:mb-2 md:text-lg xl:text-xl dark:text-gray-50">
          {{ .Site.Params.Description}}
        </p>
      </div>
    </div>

    <div class="text-white text-center mt-10">
      <a href="/posts" class="mt-2 block mx-auto p-2 max-w-md hover:bg-primary-800 rounded-lg bg-primary-600">Posts</a>
      <a href="/prose" class="mt-2 block mx-auto p-2 max-w-md hover:bg-primary-800 rounded-lg bg-primary-600">Prose</a>
      <a href="/about" class="mt-2 block mx-auto p-2 max-w-md hover:bg-primary-800 rounded-lg bg-primary-600">About</a>
    </div>
  </div>
</div>
{{ end }}